@import 'tailwindcss';

body {
  background-color: #F5F2EA;
  color: #1A1A1A;
  font-family: 'Inter', sans-serif;
}


/* Nav Design */
.nav-item {
  text-decoration: none;
  color: black;
  padding: 1vw 1.5vw;
  border-radius: 15px; 
  position: relative; 
  overflow: hidden; 
  display: inline-block;
  z-index: 1;
  cursor: pointer;
}
.nav-item::before {
  content: '';
  position: absolute;
  bottom: -100%; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff5722; 
  border-radius: 15px;
  transition: bottom 0.2s ease; 
  z-index: -2; 
}
.nav-item::after {
  content: '';
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a; 
  border-radius: 15px;
  transform: translateY(100%); 
  transition: transform 0.2s ease 0.25s; 
  z-index: -1; 
}
.nav-item:hover::before {
  bottom: 0;
}
.nav-item:hover::after {
  transform: translateY(0%);
}
.nav-item:hover {
  color: white;
  transition: color 0.1s ease 0.35s; 
}


/* Button Hover Effect */
.buttonHover {
  transition: transform 0.3s ease;
  border-radius: 0.8vw;
  cursor: pointer;
}
.buttonHover:hover {
  transform: rotate(-7deg);
  border-top-right-radius: 0.3vw;
  border-bottom-left-radius: 0.5vw;
}


/* Hero Section Card Style */
.card-container {
  display: flex;
  gap: 2vw; 
  align-items: center;
  justify-content: center;
  padding: 5vw;
}
.cardHover {
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  /* cursor: pointer; */
  position: relative;
  /* width: 20vw;  */
  /* height: 28vw;  */
  filter: grayscale(0) brightness(1);
  transform-origin: center center;
}
.cardHover:hover {
  transform: scale(1.1) rotate(0deg) translateY(-1vw);
  z-index: 50;
  filter: brightness(1.05);
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}
.card-container:has(.cardHover:hover) .cardHover:not(:hover) {
  filter: blur(4px) brightness(0.8) grayscale(0.2);
  transform: scale(0.95);
  opacity: 0.7;
}

/* @media (max-width: 768px) {
  .cardHover {
    width: 40vw;
    height: 60vw;
  }
} */


/* Custom Marquee Animation */
@keyframes customMarquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.marquee-container {
  display: flex;
  width: fit-content;
  animation: customMarquee 12s linear infinite;
}
.marquee-container:hover {
  animation-play-state: paused;
}


/* Skew for footer */
.footer-skew{
  transform: skew(0deg, -8deg);
}
/* flex flex-col md:flex-row justify-between items-start md:items-end */
.footer-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}


@media (max-width: 1000px) {
  .footer-flex{
    flex-direction: column;
    align-items: flex-start;
  }
}


@media (max-width: 800px) {
  .footerHeight {
    height: 100%;
  }
}